.richbee__header {
    position: relative;
    padding: 0px 0px;
    margin: 0px 0px;
    @media (max-width: $md2) {
        padding-top: 40px;
    }
    @media (max-width: $md3) {
        padding-top: 120px;
    }
}

.richbee__background {
    background: white;
}

.richbee__container {
    display: flex;
    flex-direction: row;
}

.richbee__content {
    display: flex;
    flex-direction: row;
    @media (max-width: $md2) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }   
}

.richbee__logo {
    width: 42px;
    height: 43px;
    margin: 35px 17px 0px 0px;
    @media (max-width: $md1) {
        margin: 35px 6px 0px 20px;
    } 
}

.richbee__header {
}

.richbee__header-text {
    font-size: 30px;
    color: #383838;
    margin:44px 28px 0px 0px;
    /*@media (max-width: $md1) {
        margin: 34px 28px 0px 0px;
    }*/
    @media (max-width: $md2) {
        margin: 4px 10px 0px 0px;
    }
    @media (max-width: $md3) {
        display: none;
    }
}

.richbee__search {}

.richbee__search-1 {}

#bottom__email-2 {
    width: 540px;
    height: 48px;
    border: 1px solid #a4c3ca;
    background: #fff;
    box-shadow: 0px 13px 22px rgba(228, 228, 228, 0.25);
    font-size: 14px;
    line-height: 16px;
    color: #B8B8B8;
    background-color: white;

    padding: 16px 0px 16px 20px;
    margin: 34px 0px 0px 0px;
    @media (max-width: $md1) {
        width: 500px;
        padding: 16px 0px 16px 20px;
    }
    @media (max-width: $md3) {
        width: 300px;
    }
    @media (max-width: $md4) {
        width: 200px;
    }
}

.richbee__button {
    width: 48px;
    height: 48px;
    z-index: 9;
    text-align: center;
    background: #FFD637;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    padding: 15px 16px;
    margin: 34px 0px 0px 0px;
    border-radius: 0px 4px 4px 0px;
}

.richbee__img {}

.richbee__button {
    display: block;
}

.contacts-input {
    border: 1px solid #ECEDEF !important;
    border-radius: 4px 0 0 4px;

    &::placeholder {
        color: #B8B8B8;
    }
}

.richbee__cards {
    display: flex;
    flex-direction: row;
    @media (max-width: $md3) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }     
}

.richbee__card-person {
    display: flex;
    flex-direction: row;
    height: 48px;
    border-radius: 4px;
    background: #F8F8F8;
    margin: 34px 15px 0px 35px;
    &:hover {
        cursor: pointer;
    }
    @media (max-width: $md2) {
        margin: 34px 15px 0px 20px;
    } 
    @media (max-width: $md3) {
        margin: 34px 10px 0px 20px;
    } 
    @media (max-width: $md4) {
        margin: 0px 10px 20px 20px;
    }
}
.card__person-line-1{
    position: relative;
    top: 0px;
    left: 0px;
}

.modal-content {
    width: 600px;
    @media (max-width: $md3) {
        width: 400px;
    }
}

.modal-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #0B0B0B;
    white-space: nowrap;
    margin: 70px 0px 0px 40px;
    @media (max-width: $md3) {
        font-size: 20px;
        line-height: 10px;
        margin: 70px 0px 0px 0px;
    }
}

.mobal__mail {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #797979;
    margin: 30px 0px 0px 40px;
    @media (max-width: $md3) {
        font-size: 20px;
        line-height: 10px;
        margin: 30px 0px 0px 0px;
    }
}

#mobal__mail-2 {
    width: 510px;
    height: 54px;
    background: #F8F8F8;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 0px 12px 30px;
    margin: 15px 49px 0px 40px;
    @media (max-width: $md3) {
        width: 250px;
        padding: 12px 0px 12px 10px;
        margin: 10px 0px 0px 0px;
    }
}

#mobal__mail-2.error {
    border: 1px solid #ff0000;
}

#mobal__mail-2.ok {
    border: 1px solid #00ff00;
}

.mobal__password-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #797979;
    margin: 20px 0px 0px 40px;
    @media (max-width: $md3) {
        margin: 20px 0px 0px 0px;
    }
}

#mobal__password-1 {
    width: 510px;
    height: 54px;
    background: #F8F8F8;
    border: 1px solid #B8B8B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 0px 12px 30px;
    margin: 15px 49px 0px 40px;
    @media (max-width: $md3) {
        width: 250px;
        padding: 12px 0px 12px 10px;
        margin: 10px 0px 0px 0px;
    }
}

.mobal__forgot {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #0B0B0B;
    margin: 20px 0px 0px 40px;
    @media (max-width: $md3) {
        margin: 10px 0px 0px 0px;
    }
}

.mobal__row {
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
}

.mobal__forgot-1 {}

.mobal__button-1 {
    width: 246px;
    height: 45px;
    background: #FFD637;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 20px 14px 20px;
    margin: 30px 20px 0px 40px;
    @media (max-width: $md3) {
        margin: 20px 0px 0px 0px;
    }

    a:hover {
        color: #FFFFFF;
    }
}

.mobal__batton-1 {}

.mobal__button-text-1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #383838;
    text-decoration: none;
    padding: 14px 20px 14px 74px;
}

.mobal__forgot-2 {}

.mobal__button-2 {
    width: 246px;
    height: 45px;
    background: #F8F8F8;
    border-radius: 4px;
    text-decoration: none;
    padding: 14px 20px 14px 20px;
    margin: 30px 0px 60px 0px;

    a:hover {
        color: #FFD637;
    }
}

.mobal__batton-2 {}

.mobal__button-text-2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #383838;
    text-decoration: none;
    padding:14px 20px 14px 20px;
}

.card__person {
    border-right: 1px solid #E4E4E4;
}

.richbee__card-person:hover {
    background: #EFEFEF;
}

.card__person-img {
    margin: 10px 12px 0px 12px;
}

.richbee__column {
    display: flex;
    flex-direction: column;
}

.richbee__basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    white-space: nowrap;
}

.card__basket {
    position: relative;
    border-right: 1px solid #E4E4E4;
}

.person__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #383838;
    margin: 7px 0px 4px 10px;
}

.person__text {
    font-size: 13px;
    line-height: 15px;
    color: #ACACAC;
    margin: 0px 40px 0px 10px;
}

.richbee__card-basket {
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    position: relative;
    height: 48px;
    background: #F8F8F8;
    margin: 34px 0px 0px 0px;
    @media (max-width: $md3) {
        margin: 34px 10px 0px 20px;
    } 
    @media (max-width: $md4) {
        margin: 0px 10px 0px 20px;
    }
}

.card__basket {}

.card__basket-img {
    margin: 10px 12px 0px 12px;
}

.card__basket-point {
    position: absolute;
    top: 10px;
    right: 10px;
}
.card__basket-line-2{
    position: relative;
    top: 0px;
    left: 0px;
}
.basket__title {
    font-weight: bold;
    text-align: left;
    font-size: 13px;
    color: #383838;
    margin-bottom: 6px;
}

.basket__text {
    font-size: 13px;
    color: #ACACAC;
}



.richbee__catalog {
    display: flex;
    flex-direction: row;
}

.richbee__catalog-1 {
    display: flex;
    flex-direction: row;
    @media (max-width: $md1) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
   
}   

.richbee__choice {
    display: flex;
    flex-direction: row;
    @media (max-width: $md1) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.richbee__products {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #383838;
    white-space: nowrap;
    margin: 44px 20px 0px 0px;
    transition: all 0.3s ease 0s;
    &:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    @media (max-width: $md1) {
        white-space: auto;
        margin: 44px 25px 0px 0px;
    }
    @media (max-width: $md4) {
        margin: 20px 20px 0px 0px;
    }
}

.richbee__promotions {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #383838;
    white-space: nowrap;
    margin: 44px 20px 0px 0px;
    transition: all 0.3s ease 0s;
    
    &:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    @media (max-width: $md1) {
        white-space: auto;
        margin-right: 0px;
    }
    @media (max-width: $md4) {
        margin: 20px 0px 0px 10px;
    }
}

.richbee__catalog-line {

    margin: 44px 0px 0px 0px;
    @media (max-width: $md1) {
        display: none;
    }
}

.catalog__line-1{
    height: 24px;
}

.richbee__list-ul {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #B8B8B8;
    margin-bottom: 0px;
    @media (max-width: $md1) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.richbee__list-ul li{
    margin: 44px 23px 0px 0px;
    transition: all 0.3s ease 0s;
    &:hover {
        cursor: pointer;
        border-bottom: 1px solid rgb(0, 0, 0);
    }
    @media (max-width: $md1) {
        margin: 20px 20px 0px 0px !important;
    }
}